<template>
<section>
    <div class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Primary title
      </h1>
      <h2 class="subtitle">
        Primary subtitle
      </h2>
    </div>
  </div>
    </div>
        <a href="./" class="button is-primary">Go home</a>
</section>
</template>